* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
}

p {
  font-size: 20px;
}

.main-body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: rgb(0, 0, 97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
