* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  background-color: rgb(0, 0, 97);
}

h1 {
  font-size: 80px;
}

p {
  font-size: 20px;
}

.main-body {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.main-body {
  width: 100vw;
  min-height: 100vh;
  color: white;
  background-color: rgb(0, 0, 97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(40px, 5vw, 100px); /* Scales between 20px and 100px */
  padding: 20px;
  box-sizing: border-box;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
